In [7]:
"""
d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year. 
"""

'\nd) Create one more feature and add this column to the dataset (you can use mutate function in\nR for this). For example, you can calculate the current age of the car by subtracting “Year” value\nfrom the current year. \n'

In [8]:
import pandas as pd

In [9]:
import datetime

In [10]:
cars=pd.read_csv('/Users/nagathanaykancharala/Desktop/PDS/Assignment2/result/encoded_car_results.csv')

In [11]:
current_year = datetime.datetime.now().year
cars['Current_Age'] = current_year - cars['Year']

In [12]:
print(cars.head())

                               Name    Location  Year  Kilometers_Driven  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

  Owner_Type  Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0      First    19.67  1582.0  126.20    5.0  12.50              True
1      First    13.00  1199.0   88.70    5.0   4.50             False
2      First    20.77  1248.0   88.76    7.0   6.00              True
3     Second    15.20  1968.0  140.80    5.0  17.74              True
4      First    23.08  1461.0   63.10    5.0   3.50              True

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0               False             False                   False
1               False              True                   False
2               False             False                   False
3               False             False                    True
4               False             False                   False

   Transmission_Manual  Current_Age
0                 True            8
1                 True           12
2                 True           11
3                False           10
4                 True           10

In [14]:
cars.to_csv('/Users/nagathanaykancharala/Desktop/PDS/Assignment2/result/current_car_age.csv',index=False)