In [129]:
"""
a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task. 

"""

'\na) Look for the missing values in all the columns and either impute them (replace with mean,\nmedian, or mode) or drop them. Justify your action for this task. \n\n'

In [130]:
import pandas as pa
import numpy as np

In [131]:
cars = pa.read_csv('/Users/nagathanaykancharala/Desktop/PDS/Assignment2/cars_raw_data/raw_data.csv')

In [132]:
cars

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [133]:
values_missing=cars.isna().sum()

In [134]:
values_missing_num=values_missing[values_missing>0].index

In [135]:
print(values_missing)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [136]:
values_missing_char=(cars.select_dtypes(include='object').isnull().sum())

In [137]:
print(values_missing_char)

Name               0
Location           0
Fuel_Type          0
Transmission       0
Owner_Type         0
Mileage            2
Engine            36
Power             36
New_Price       5032
dtype: int64

In [138]:
"""
b.Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).
"""

'\nb.Remove the units from some of the attributes and only keep the numerical values (for\nexample remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from\n“New_price”).\n'

In [139]:
cars['Mileage'] = cars['Mileage'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

In [140]:
cars['Engine'] = cars['Engine'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

In [141]:
cars['Power'] = cars['Power'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

In [142]:
cars['New_Price'] = cars['New_Price'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

In [143]:
print(cars.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   float64
 9   Engine             5811 non-null   float64
 10  Power              5811 non-null   float64
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    float64
 13  Price              5847 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 639.6+ KB
None

In [144]:
cars = cars.iloc[:, 1:]

In [145]:
cars = cars.drop(columns=['New_Price'])

In [146]:
numeric_cols = cars.select_dtypes(include=np.number).columns
cars[numeric_cols] = cars[numeric_cols].fillna(cars[numeric_cols].mean())

In [147]:
cars[numeric_cols] = cars[numeric_cols].round(2)

In [148]:
character_cols = cars.select_dtypes(include='object').columns

In [149]:
for col in character_cols:
    cars[col] = cars[col].apply(lambda x: cars[col].mode()[0] if x == '' else x)

In [150]:
values_missing_handle = cars.isna().sum()
print(values_missing_handle)

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [151]:
cars.to_csv('/Users/nagathanaykancharala/Desktop/PDS/Assignment2/cars_clean_data/cars_clean_data.csv',index=False)